#.gitignore for Java 8 repository.
classes/	#ignore the classes directory
*.class		#ignore compiled bytecode classes
*.*~		#ignore temporary java source and class files
.gitignore~	#ignore the temporary .gitignore file
